@media only screen and (min-width: 45em) {
    body {
        width: 60%;
    }

    h1 {
        font-size: 2.5em;
    }


    header, footer {
        border-radius: 10px;
    }

    footer {
        text-align: center;
    }

    header img {
        float: right;
        max-width: 205px;
        margin-right: 5px;
        box-shadow:-8px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    main h2 {
        margin-right: 10%;
        text-align: left;
        font-size: 1.5em;
    }

    #studentName {
        padding-top: .3em;
        padding-bottom: .3em;
        top: 0px;
    }

    ul {
        text-align: left;
    }

    br {
        display: none;
    }
    
}

@media only screen and (min-width: 720px) and (max-width: 930px) {
    header h1{
        font-size: 35px;  
    }

    #studentName {
        text-align: center;
    }

    main h2 {
        font-size: 20px;
    }

    ul {
        font-size: 15px;
    }

    body {
        width: 80%;
    }

    header img {
        max-width: 170px;
    }
}