body {
    font-family: "Montseratt", sans-serif;
    margin: 0 auto;
    text-align: center;
}

header {
    display: grid;
    grid-template-columns: 30% 60%;   
    justify-content: space-evenly;
    align-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    column-gap: 0px;
    width: 100%;
}

header h1 {
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    font-size: 25px;
    font-weight: bold;
}

header span {
    padding-right: 10px;
    padding-top: 10px;
}

header, nav, footer, #city_name {
    text-align: center;
    width: 100%;
}

header h2 {
    padding-bottom: 20px;
    margin-bottom: 0px;
    text-shadow: 0px 0px  6px black, -2px 0px 3px black;
    margin-top: 0px; 
    font-family: "Open Sans" , sans-serif;
    font-size: 16px;
}

header h2, header img {
    align-self: center;
    justify-self: center;
}

header img {
    max-width: 100px;
}

header, footer {
    background-color: #1b9aaa;
    color: #ffffff;
}

main
 {
    margin: 0 auto;
    background-color: #ffffff;
 }

 .navigation li {
    display: none;
}

.navigation li:first-child {
    display: block;    
}

.responsive li {
    display: block;
}

 nav {
     background-color: #cacfd6;
     color: #292f36;
 }

 nav ul {
     list-style-type: none;
     margin: 0;
     padding: 0; 
     overflow: hidden;
     font-size: 18px;
 }

 nav li a {
     display: block;
     padding-top: 0.75em;
     padding-bottom: 0.75em;
     text-decoration: none;
 }

 nav a:hover {
     background-color: #292f36;
     color: #cacfd6;
 }

 nav, footer {
    font-family: "Open Sans" , sans-serif;
 }

.current_page {
    background-color: #292f36;
    color: #cacfd6;
 }

main h1, figcaption {
    color: #241e4e;
    font-weight: bold;
    font-family: "Montseratt", sans-serif;
}

#gallery {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

figure {
    margin: 0 auto;
    position: relative;
    background-color: #efefef;
    padding-bottom: 5px;
}

img {
    width: 100%;
}

footer {
    font-weight: bold;
    padding: 10px;
    font-size: 90%;
}


