@media only screen and (min-width: 1080px) {
    html {
        height: 1000px;
    }

    main {
        width: 90%;
    }

    footer {
        width: 70%;
    }

    header h1 {
        font-size: 40px;
    }

    header h2 {
        font-size: 18px;
    }

    header h1, header h2 {
        position: relative;
        right: 10%;
    }

    nav ul {
        font-size: 19px;
    } 

    #gallery {
        display: grid;
        grid-template-columns: 25% 25% 25%;
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        justify-content: center;
    }

    figure:hover {
        box-shadow: -5px -5px 5px 5px rgb(182, 182, 182);
    }

    figcaption {
        font-size: 16px;
    }

}
