@media only screen and (min-width: 535px) {
    html {
        max-height: 1500px;
    }
    main, footer {
        width: 85%;
    }

    header h1 {
        font-size: 35px;
    }

    .navigation li:first-child {
        display: none;    
    }

    .navigation li {
        display: block;
    }

    header, nav {
        width: 100%;
    }

    header {
    grid-template-columns: 20% 80%;
    justify-content: center;
    padding-top: 0px;
    }

    header img {
        justify-self: end;
        padding-right: 10px;
        height: auto;
        padding-top: 5px;
        max-width: 125px;
    }

    .navigation {
        display: grid;
        grid-template-columns: 12% 13% 22% 20% 21% 12%;
        grid-template-rows: 1fr;
    }

    nav ul {
        font-size: 16px;
    }

    #city_name {
        font-size: 30px;
    }

    p {
        font-size: 100%;
    }

    #banner_summary {
        max-width: 225px;
        top: 15px;
        left: 15px;
        font-size: 16px;
    }

    #banner_image {
        width: 100%;
        height: auto;
    }

    #small_caption, #large_caption {
        display: none;
    }

    #medium_caption {
        display: block;
    }

    #forecast {
        display: block;
        text-align: center;
        position: relative;
        top: 20px;
    }

    #forecast h2 {
        margin-top: 0px;
        font-size: 21px;
        border: none;
    }

    table {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
    }

    th {
        background-color: #1b9aaa;
        color: #ffffff;
        border: 1px solid black;
    }

    td {
        border: 1px solid black;
    }

    th, td {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    #article {
        top: 50px;
        position: relative;
        display: flex;
    }

    #article h2 {
        font-size: 21px;
        max-width: 400px;
        padding-left: 10px;
    }

    #article h3 {
        font-size: 17px;
    }

    #article img {
        max-width: 300px;
        height: 300px;
    }

    .mobile_hide {
        display: block;
    }

    #contact_info {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 1fr;
        position: relative;
        top: 70px;
    }
    
    #contact_info img {
        grid-column: 1;
        grid-row: 1;
        padding: 15px;
        max-width: 300px;
        justify-self: center;
    }
    
    #contact_info p, #contact_info h4, #social_media {
        grid-column: 2;
        grid-row: 1;
        text-align: left;
    }

    #contact_info div {
        align-self: center;
    }

    #social_media img {
        width: 48px;
        padding: 2px;
    }

    footer {
        margin: 0 auto;
        position: relative;
        top: 70px;
    }

    /* added for lesson 11*/

    .town_events {
        position: relative;
        top: 50px;
    }

    #forecastWeather section {
        box-shadow: none;
        background-color: inherit;
        font-weight: bold;
    }

    .town_events p {
        padding-left: 30%; 
    }

    #gallery {
        grid-template-columns: 1fr 1fr;  
    }

    #gallery figure {
        padding: 5px;
    }
}