body {
    font-family: "Montseratt", sans-serif;
    margin: 0 auto;
}

.saturday {
    background-color: #ffd966;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    box-shadow: 0 2px 15px #504f4f;
    z-index: 50;
    position: relative;
    display: none;
}

.notice {
    display: block;
}

header {
    display: grid;
    grid-template-columns: 30% 60%;   
    justify-content: space-evenly;
    align-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    column-gap: 0px;
    width: 100%;
}

header h1 {
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    font-size: 25px;
    font-weight: bold;
}

header span {
    padding-right: 10px;
    padding-top: 10px;
}

header, nav, footer, #city_name {
    text-align: center;
    width: 100%;
}

header h2 {
    padding-bottom: 20px;
    margin-bottom: 0px;
    text-shadow: 0px 0px  6px black, -2px 0px 3px black;
    margin-top: 0px; 
    font-family: "Open Sans" , sans-serif;
    font-size: 16px;
}

header h2, header img {
    align-self: center;
    justify-self: center;
}

header img {
    max-width: 200px;
}

header, footer {
    background-color: #1b9aaa;
    color: #ffffff;
}

main
 {
    margin: 0 auto;
    background-color: #ffffff;
 }

 #banner, #article {
    width: 98%;
 }

 .navigation li {
    display: none;
}

.navigation li:first-child {
    display: block;    
}

.responsive li {
    display: block;
}

 nav {
     background-color: #cacfd6;
     color: #292f36;
 }

 nav ul {
     list-style-type: none;
     margin: 0;
     padding: 0; 
     overflow: hidden;
     font-size: 18px;
 }

 nav li a {
     display: block;
     padding-top: 0.75em;
     padding-bottom: 0.75em;
     text-decoration: none;
 }

 nav a:hover {
     background-color: #292f36;
     color: #cacfd6;
 }

 nav, footer {
    font-family: "Open Sans" , sans-serif;
 }

 .current_page {
    background-color: #292f36;
    color: #cacfd6;
 }

#city_name {
    margin-top: 0px;
    margin-bottom: 20px;
    padding-top: 20px;
    font-size: 25px;
}

#city_name, main h3, main h2, #contact_info h4 {
    color: #241e4e;
    font-weight: bold;
}

#banner {
    position: relative;
}

#banner_summary {
    float: left;
    border: 1px solid black;
    position: absolute;
    background-color: #1b9aaa;
    color: #ffffff;
    text-align: center;
    width: 60%;
    height: 175px;
    left: 20px;
    top: 20px;
    z-index: 100;
    display: grid;
    grid-template-rows: 45px 130px;
    grid-template-columns: 45% 55%;

}

#banner_summary h2 {
    margin-bottom: 0px;
    padding-bottom: 5px;
    font-size: 17px;
    grid-column: 1 / span 2;
    grid-row: 1;
    border-bottom: 1px solid #241e4e;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    color: #ffffff;
}

#banner_summary p {
    font-size: 14px;
    font-weight: 600;
}

.left_summary {
    grid-column: 1;
    grid-row: 2;
    text-align: right;
}

.right_summary {
    grid-column: 2;
    grid-row: 2;
    text-align: left;
    color: yellow;
}

figure {
    margin: 0 auto;
    position: relative;
}

#banner_image {
    height: 175px;
}

figcaption {
    float: right;
    position: absolute;
    top: 0px;
    right: 5px;
    padding: 10px;
    color: rgb(204, 7, 7);
    font-size: 50px;
    font-weight: bold;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

#medium_caption, #large_caption {
    display: none;
}

#article {
    position: relative;
    top: 20px;
    margin: 0 auto;
    display: block;
    background-color: #efefef;
    padding-top: 10px;
}

#article h2 {
    padding-left: 5%;
    font-size: 25px;
    margin-bottom: 7px;
}

#article h3 {
    padding-left: 8%;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 20px;
}

#article p {
    margin-top: 0px;
    margin-bottom: 0px;
}

#article img {
    max-width: 340px; 
    max-height: 350px;
    color: #ffffff;
    font-weight: bolder;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

#article p, #contact_info p {
    padding: 10px;
}

#contact_info {
    text-align: center;
    margin-top: 40px;
    background-color: #e0e0e0;
}

#contact_info h4 {
    margin-bottom: 0px;
    padding-top: 10px;
}

#contact_info p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
}

i {
    color: #1b9aaa;
}

#contact_info p a:hover {
    font-size: 105%;
}

#contact_info a:link, #contact_info a:visited 
    {
    color: black;
    text-decoration: none;
}

#social_media img {
    width: 32px;
    padding: 5px;
}

footer {
    font-weight: bold;
    bottom: -40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

p {
    font-size: 90%;
}

.mobile_hide {
    display: none;
}

