@media only screen and (min-width: 600px) {
    body,
    header,
    footer {
        width: 90%;
    }

    main {
        max-width: 80%;
    }

    header h1 {
        font-size: 40px;
    }

    nav {
        width: 85%;
    }

    table img {
        max-width: 321px;
    }

    section img {
        left: -5px;
    }

    table {
        font-size: 100%;
    }

    

}