@media only screen and (min-width: 600px) {
    body,
    header,
    footer {
        width: 90%;
    }

    main {
        max-width: 80%;
    }

    header h1 {
        font-size: 40px;
    }

    nav {
        width: 85%;
    }

    td, th {
        font-size: 1em;
    }

    td h1 {
        font-size: 30px;
    }

    table img {
        max-width: 321px;
    }

}