body,
header,
nav,
main,
footer {
    width: 100%;
    margin: 0 auto;
    background-color: #f5f1e3;
}
html, body {
    margin-bottom: 0px;
    padding-bottom: 0px;
    max-height: 100%;
}
main {
    max-width: 95%;
}

header, footer {
    text-align: center;
    color: #ffffff;
    font-family: 'Blinker', sans-serif;
}

header {
    padding-bottom: 10px;
    background-color: #1b9aaa;
}

header h1 {
    font-size: 30px;
    margin-top: 0px;
}

h2, h3 {
    color: #241e4e; 
    font-weight: bolder;
}

header h2 {
    font-size: 20px;
}

footer {
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    background-color: #188c9b;
    font-size: 19px;
}

nav {
    background-color: #cacfd6;
    color: #292f36;
	text-align: center;
    box-shadow: 0 2px 15px gray;
}

nav, main {
    font-family: 'Fira Sans', sans-serif;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav li a {
	display: block;
	color: #000000;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
    font-size: 17px;
}
nav a:hover {
	background-color: #292f36;
	color: #cacfd6;
}

footer a {
    color: #ffffff;
}

.intro {
    text-align: center;
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

section img {
    border: 1px solid black;
    max-width: 95%;
    position: relative;
    left: 0px;
}

table {
    max-width: 100%;
    margin: 0 auto;
    font-size: 70%;
}

.table_header_background {
    background-color: #1b9aaa;
    color: #ffffff;
    font-size: 30px;
}

.table_nav_background {
    background-color: #cacfd6;
    color: #292f36;
    font-size: 19px;
    font-weight: bold;
}

.table_footnav_background {
    background-color: #188c9b;
    color: #ffffff;
    font-size: 19px;
}

.table_heading1 {
    color: #241e4e;
    font-size: 22px;
}

.table_heading1, .table_heading2 {
    font-weight: bold;
}

.table_heading2 {
    font-size: 18px;
}

table img {
    max-width: 70%;
}

#table_paragraph {
    font-size: 16px;
}

